# -*- mode: ruby -*-
# vi: set ft=ruby :

# Don't provision using this file; it's only for packaging with the image.
# It would be nice if this could set config.vm.box_version but we don't get
# to have versioning since we're distributing this as a file.
#
# We need to fix one thing for the official Ubuntu 16.04 (xenial) box
# specifically: it sends serial console output to a file (this works in
# development, but if we try to package the box, it bakes in the return
# value of Dir.pwd on the development machine!). The latter was introduced in:
# http://bazaar.launchpad.net/~ubuntu-core-dev/livecd-rootfs/trunk/revision/1321

Vagrant.configure('2') do |config|
  config.vm.box = "railsbridge"
  config.vm.network :forwarded_port, guest: 3000, host: 3000
  config.vm.provider "virtualbox" do |vb|
    vb.customize [ "modifyvm", :id, "--uartmode1", "disconnected" ]
  end
end
